.login {
  /* background: inherit; */
  /* width: 450px;
  height: 550px; */
  position: absolute;
  overflow: hidden;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200000;
  background: rgba(0, 0, 0, 0.95);
  display: none;
  justify-content: center;
  align-items: center;
  transition: 400ms;
  animation: 400ms fadeIn;
}
@media (max-width: 768px) {
  .login {
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    overflow-y: scroll;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.modal-fadeout {
  animation: 400ms fadeOut;
}

.login-content {
  /* position: absolute;
  top: 0px; */
  color: #fff;
  background: #fff;
  border-radius: 7px;
  transition: 400ms ease-in-out;
}
@media (max-width: 768px) {
  .login-content {
    /* margin-top: 15%; */
    width: 100%;
  }
}
.login-content span {
  padding: 20px;
  width: 187px;
  text-align: center;
  font-size: 1.4rem;
  opacity: 0.9;
  color: #222;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
}
@media (max-width: 768px) {
  .login-content span {
    width: 50%;
  }
}

.login-content .not-current-view {
  opacity: 0.7;
  transition: 200ms ease-out;
  background: rgb(226, 226, 226);
  border: 1px solid #999;
}

.login-content .not-current-view:hover {
  opacity: 1;
  transition: 200ms ease-in;
}

.login-content form {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  margin: auto;
  margin-top: 15px;
  -webkit-appearance: none;
}
@media (max-width: 768px) {
  .login-content form {
    max-width: 1000px;
  }
}
.login-content form label {
  margin-bottom: 7px;
  /* color: #bebebe; */
  color: #999;
  font-size: 14px;
}
@media (max-width: 768px) {
  .login-content form label {
    width: 90%;
    margin: auto;
    margin-bottom: 7px;
  }
}
.login-content form input {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
  /* background: rgba(255, 255, 255, 0.1); */
  -webkit-appearance: none;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .login-content form input {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
}
.login-content form input:valid {
  border: 1px solid #4163f2;
  opacity: 1;
}

#submit {
  margin-top: 10px;
  background-color: #4163f2;
  color: #fff;
  padding: 14px;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  cursor: pointer;
  -webkit-appearance: none;
}
@media (max-width: 768px) {
  .login-content form #submit {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.form-oauth-providers {
  width: 240px;
  margin: auto;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: 200ms ease-out;
  margin-bottom: 4px;
}
.form-oauth-providers a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-oauth-providers:hover {
  opacity: 1;
  transition: 200ms ease-in;
}
.form-oauth-providers p {
  text-align: center;
  margin-left: 7px;
  color: #222;
}
.form-oauth-providers img {
  max-width: 25px;
}

.close-modal {
  position: absolute;
  right: -70px;
  color: #fff;
  top: -10px;
  font-size: 6rem;
  cursor: pointer;
}

.no_match {
  background-image: url('../assets/img/bumble-bee-man-ay-yi-no-me-gusta.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no_match_content {
  background-color: white;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}
.home_body {
  /* border: 2px solid red; */
  text-align: center;
}
.toggle {
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-start;
  /* max-width: 1000px; */
  margin: auto;
  margin-bottom: 15px;
  /* width: 90%; */
}

.toggle img {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 60;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal_ {
  /* border: 2px solid blue; */
  background-color: white;
  z-index: 1;
  text-align: center;
  max-width: 45%;
  margin: 0 auto;
  min-width: 45%;
  margin-top: 10%;
  border-radius: 6px;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #ddd;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.modal_group {
  position: relative;
}
.add_link_form {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
#form-key {
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 12px 8px;
  margin: 0;
  color: #000;
  width: 70%;
}
.add-btn {
  text-transform: uppercase;
  background: black;
  padding: 5px 30px;
  border-radius: 3.7px;
  color: white;
}

.modal_close:hover {
  cursor: pointer;
}

.root-modal-open {
  filter: blur(7px);
}
